.App {
  text-align: center;
  padding-top: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*----------------posSystem---------------*/
.box-product-counter{
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  justify-content: center;
  column-gap: 1em;
}
.box-posSystemLeft{
  display: flex;
  flex-direction: column;
  height:300px
}
.box-posSystemBottom{
flex: 1 1 auto;
}
.list-item{
  /* display:flex; */
 display: grid;
  grid-template-columns: repeat(3, 190px);
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
